<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/Header.css">
    <link rel="stylesheet" href="/Styles/About_us.css">
    <link rel="stylesheet" href="/Styles/Footer.css">
    <title>Document</title>
</head>
<header class="sticky">
    <div class="Header">
        <div class="Logo">
            <a href="Home.html"><img src="/Img/Logo.png" alt="Logo EIM automatic"></a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a  href="Home.html">Inicio</a></li>
                <li class="selected"><a href="#">Nosotros</a></li>
                <li><a href="Services.html">Servicios</a></li> 
                <li><a href="Contact.html">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>
<body>
    <section>
        <div class="about-us">
            <div class="about-us-text">
                <h2>¿Quiénes somos?</h2>
                <p>Somos una empresa comprometida con la excelencia en todos los proyectos que llevamos.</p>
                <p>Contamos con un equipo formado por profesionales altamente capacitados y comprometidos conla calidad.</p>
            </div>
            <div class="about-us-img">
                <article>
                    <img src="/Img/logo.png" alt="Esta es una pendejada por ahora">
                    <a href="About_us.html"> Leer más</a>
                </article>
            </div>
        </div>
    </section>
    <section id="Info">
        <div class="info-bg"></div>
        <div class="info">
            <h2>Nuestros valores</h2>
            <div class="values">
                <div class="value">
                    <h3>Calidad</h3>
                    <p>Nos esforzamos por ofrecer servicios de calidad excepcional, cumpliendo con los más altos estándares de la industria y superando las expectativas de nuestros clientes en términos de precisión, durabilidad y rendimiento.</p>
                </div>
                <div class="value"> 
                    <h3>Compromiso</h3>
                    <p>Estamos comprometidos con la entrega puntual de proyectos, la transparencia en nuestras operaciones y el cumplimiento de los más altos estándares éticos. Cumplimos con nuestros compromisos y establecemos relaciones duraderas basadas en la confianza mutua.</p>
                </div>
                <div class="value">
                    <h3>inovacion</h3>
                    <p>Promovemos la creatividad y la búsqueda constante de soluciones innovadoras. Nos mantenemos al tanto de las últimas tecnologías y tendencias para brindar a nuestros clientes las mejores soluciones que los ayuden a destacar en su industria.</p>
                </div>
                <div class="value">
                    <h3>orientacion al cliente</h3>
                    <p>Colocamos a nuestros clientes en el centro de todo lo que hacemos. Escuchamos y comprendemos sus necesidades, adaptamos nuestras soluciones a sus requisitos específicos y nos esforzamos por establecer relaciones de confianza a largo plazo.</p>
                </div>
                <div class="value">
                    <h3>sostenibilidad</h3>
                    <p>Nos preocupamos por el medio ambiente y trabajamos para minimizar el
                        impacto ambiental de nuestras operaciones. Promovemos prácticas sostenibles en nuestros procesos y fomentamos la economía circular en nuestras actividades de chatarrería, contribuyendo a un futuro más verde y sostenible. Con una sólida misión y visión respaldadas por nuestros valores fundamentales, en Innovatech Solutions nos esforzamos por ser el socio confiable y estratégico que nuestros clientes necesitan, brindando soluciones de calidad, innovadoras y sostenibles que les permitan alcanzar el éxito en un entorno competitivo.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="mision-vision">
        <div class="mision">
            <h2>Mision</h2>
            <p>En EIM automatic, nuestra misión es brindar soluciones innovadoras e integrales en automatización industrial, metalmecánica y obras civiles para impulsar el éxito y el crecimiento de nuestros clientes. Nos esforzamos por ofrecer servicios de calidad excepcional, basados en la excelencia técnica y la atención personalizada. Nuestro compromiso es superar las expectativas de nuestros clientes al proporcionar soluciones adaptadas a sus necesidades, garantizando la eficiencia operativa, la confiabilidad y la sostenibilidad de sus proyectos</p>            
        </div>
        <div class="vision">
            <h2>Vision</h2>
            <p>Nuestra visión en EIM automatic es convertirnos en la empresa líder y referente en nuestra industria, reconocida por nuestra excelencia en la calidad, la innovación continua y el compromiso con la satisfacción del cliente. Aspiramos a ser el socio preferido por nuestros clientes, brindando soluciones vanguardistas que mejoren su competitividad y les permitan alcanzar sus objetivos estratégicos. Buscamos ser reconocidos por nuestra capacidad para entregar proyectos de manera puntual, eficiente y confiable, posicionándonos como una marca de confianza y sinónimo de excelencia en el mercado.</p>
        </div>
    </section>
</body>
<footer>
    <div class="footer">
        <div class="footer-logo">
            <img src="/Img/logo.png" alt="">
        </div>
        <div class="footer-links">
            <h3> Interes </h3>

            <ul class="footer-list">
                <li> <a href="/Templates/Home.html"> Inicio </a></li>
                <li> <a href="#"> Nosotros </a></li>
                <li> <a href="#"> Servicios </a></li>
                <li> <a href="/Templates/Contact.html"> Contacto </a></li>
            </ul>
        </div>
        <div class="footer-contact">
            <h3> Contacto </h3>

            <ul class="contact-list">
                <li> <p>+57 322 283 5439</p></li>
                <li> <p>+57 317 499 9488</p></li>
                <li> <p>eimautomatic@gmail.com</p></li>
                <li> <p>CL 44 SUR NO. 72 B 70 </p>
                     <p>Bogotá D.C. - Colombia</p></li>
            </ul>
        </div>
    </div>
    <h3 class="final">&copy EIM Automatic</h3>
</footer>
</html>