<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/Header.css">
    <link rel="stylesheet" href="/Styles/Contact.css">
    <link rel="stylesheet" href="/Styles/Footer.css">
    <title>Document</title>
</head>
<header class="sticky">
    <div class="Header">
        <div class="Logo">
            <a href="Home.html"><img src="/Img/Logo.png" alt="Logo EIM automatic"></a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a  href="Home.html">Inicio</a></li>
                <li><a href="About_us.html">Nosotros</a></li>
                <li><a href="Services.html">Servicios</a></li> 
                <li class="selected"><a href="">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>
<body>
    <div class="spacer"></div>
    <section id="form">
        <div class="form">
            <div class="contact-info">
                <h3> Contacto </h3>
                <ul>
                    <li><i class="gg-phone"></i> +57 322 283 5439</li>
                    <li><i class="gg-mail"></i> +57 317 499 9488</li>
                    <li><span><img src="/Img/email.png" alt=""></span>
            </div>
            <div class="contact-form">
                <span class="circle one"></span>
                <span class="circle two"></span>
                <form action="Home.html" >
                    <h3> Contactanos </h3>
                    <div class="input-cont">
                        <input type="text" name="name" class="input">
                        <label for="">Nombre</label>
                        <span>Nombre</span>
                    </div>
                    <div class="input-cont">
                        <input type="email" name="email" class="input">
                        <label for="">Correo</label>
                        <span>Correo</span>
                    </div>
                    <div class="input-cont">
                        <input type="tel" name="phone" class="input">
                        <label for="">Telefono</label>
                        <span>Telefono</span>
                    </div>
                    <div class="input-cont textarea">
                        <textarea name="message" class="input"></textarea>
                        <label for="">Mensaje</label>
                        <span>Mensaje</span>
                    </div>
                    <div class="input-cont-btn">
                        <input type="submit" value="Enviar" class="btn-input">
                    </div>
                </form>
            </div>
    </section>
</body>
<footer>
    <div class="footer">
        <div class="footer-logo">
            <img src="/Img/logo.png" alt="">
        </div>
        <div class="footer-links">
            <h3> Interes </h3>

            <ul class="footer-list">
                <li> <a href="/Templates/Home.html"> Inicio </a></li>
                <li> <a href="/Templates/About_us.html"> Nosotros </a></li>
                <li> <a href="#"> Servicios </a></li>
                <li> <a href="#"> Contacto </a></li>
            </ul>
        </div>
        <div class="footer-contact">
            <h3> Contacto </h3>

            <ul class="contact-list">
                <li> <p>+57 322 283 5439</p></li>
                <li> <p>+57 317 499 9488</p></li>
                <li> <p>eimautomatic@gmail.com</p></li>
                <li> <p>CL 44 SUR NO. 72 B 70 </p>
                     <p>Bogotá D.C. - Colombia</p></li>
            </ul>
        </div>
        <div></div>
    </div>
    <h3 class="final">&copy EIM Automatic</h3>
</footer>
<script src="/Js/form.js"></script>
</html>