<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/Header.css">
    <script src="/Js/header.js"></script>

    <link rel="stylesheet" href="/Styles/Contact.css">
    <link rel="stylesheet" href="/Styles/Footer.css">
    <title>Document</title>
</head>
<header class="header">
    <div class="Header">
        <div class="Logo">
            <a href="Home.html" class="logo-img"><img src="/Img/Logo_Black.png" alt="Logo EIM automatic"></a>
            <a href="Home.html" class="logo-text">EIM automatic</a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a  href="Home.html">Inicio</a></li>
                <li><a href="About_us.html">Nosotros</a></li>
                <li><a href="Services.html">Servicios</a></li> 
                <li class="selected"><a href="">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>
<body>
    <section id="banner">
        <div class="banner">
            <h1>Contactanos</h1>
            <p>Inicio > Contacto</p>
        </div>
    </section>
    <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 120">
        <path fill="#fff" fill-opacity="0.25" d="M0,224L60,197.3C120,171,240,117,360,85.3C480,53,600,43,720,74.7C840,107,960,181,1080,197.3C1200,213,1320,171,1380,149.3L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
        <path fill="#fff" fill-opacity="0.5" d="M0,64L60,85.3C120,107,240,149,360,149.3C480,149,600,107,720,85.3C840,64,960,64,1080,69.3C1200,75,1320,85,1380,90.7L1440,96L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
        <path fill="#fff" fill-opacity="0.75" d="M0,32L60,53.3C120,75,240,117,360,138.7C480,160,600,160,720,133.3C840,107,960,53,1080,69.3C1200,85,1320,171,1380,213.3L1440,256L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
        <path fill="#fff" fill-opacity="1" d="M0,192L60,176C120,160,240,128,360,112C480,96,600,96,720,112C840,128,960,160,1080,154.7C1200,149,1320,107,1380,85.3L1440,64L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
    </svg>
    <section id="contact">
        <img src="/Img/wave.png" alt="">
        <div class="contact">
            <h2> Contactanos</h2>
            <div class="contact-cards">
                <div class="contact-card">
                    <span class="phone ico"></span>
                    <p>+57 322 283 5439</p>
                    <p>+57 317 499 9488</p>
                </div>
                <div class="contact-card">
                    <span class="loc ico"></span>
                    <p> CL 44 SUR NO. 72 B 70 </p>
                    <p> Bogotá D.C. - Colombia </p>
                </div>
                <div class="contact-card">
                    <span class="mail ico"></span>
                    <p> eimautomatic@gmail.com </p>
                </div>
            </div>
        </div>
    </section>
    <section id="form">
        <div class="form">
            <div class="contact-info">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.630742821737!2d-74.1530686857368!3d4.566394996909799!2m3!1f0!2f39.99999863088663!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a3b0b0b0b0b%3A0x9e9b6b0b0b0b0b0b!2sCl.%2044%20Sur%20%2372b-70%2C%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1598456904249!5m2!1ses!2sco" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="mapa"></iframe>
            </div>
            <div class="contact-form">
                <span class="circle one"></span>
                <span class="circle two"></span>
                <form action="Home.html" >
                    <h3> Contactanos </h3>
                    <div class="input-cont">
                        <input type="text" name="name" class="input">
                        <label for="">Nombre</label>
                        <span>Nombre</span>
                    </div>
                    <div class="input-cont">
                        <input type="email" name="email" class="input">
                        <label for="">Correo</label>
                        <span>Correo</span>
                    </div>
                    <div class="input-cont">
                        <input type="tel" name="phone" class="input">
                        <label for="">Telefono</label>
                        <span>Telefono</span>
                    </div>
                    <div class="input-cont textarea">
                        <textarea name="message" class="input"></textarea>
                        <label for="">Mensaje</label>
                        <span>Mensaje</span>
                    </div>
                    <div class="input-cont-btn">
                        <input type="submit" value="Enviar" class="btn-input">
                    </div>
                </form>
            </div>
    </section>
</body>
<footer>
    <div class="footer">
        <div class="footer-logo">
            <img src="/Img/logo.png" alt="">
        </div>
        <div class="footer-links">
            <h3> Interes </h3>

            <ul class="footer-list">
                <li> <a href="/Templates/Home.html"> Inicio </a></li>
                <li> <a href="/Templates/About_us.html"> Nosotros </a></li>
                <li> <a href="#"> Servicios </a></li>
                <li> <a href="#"> Contacto </a></li>
            </ul>
        </div>
        <div class="footer-contact">
            <h3> Contacto </h3>

            <ul class="contact-list">
                <li> <p>+57 322 283 5439</p></li>
                <li> <p>+57 317 499 9488</p></li>
                <li> <p>eimautomatic@gmail.com</p></li>
                <li> <p>CL 44 SUR NO. 72 B 70 </p>
                     <p>Bogotá D.C. - Colombia</p></li>
            </ul>
        </div>
        <div></div>
    </div>
    <h3 class="final">&copy EIM Automatic</h3>
</footer>
<script src="/Js/form.js"></script>
</html>