<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/Header.css">
    <script src="/Js/header.js"></script>

    <link rel="stylesheet" href="/Styles/Footer.css">
    <link rel="stylesheet" href="/Styles/Home.css">
    <title>Document</title>
</head>
<header  class="header">
    <div class="Header">
        <div class="Logo">
            <a href="#"><img src="/Img/logo.png" alt="Logo EIM automatic"></a>
        </div>
        <nav>
            <ul class="nav-links">
                <li class="selected"><a  href="#">Inicio</a></li>
                <li><a href="About_us.html">Nosotros</a></li>
                <li><a href="#">Servicios</a></li> 
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>
<body>
    <section id="banner">
        <div class="banner"></div>
        <div class="banner-text">
            <h1>EIM Automatic</h1>
            <p>Comprometidos con el futuro</p>
            <a href="About_us.html">Saber más</a>
        </div>
    </section>
    <section>
        <div class="about-us">
            <div class="about-us-text">
                <h2>¿Quiénes somos?</h2>
                <p>Somos una empresa comprometida con la excelencia en todos los proyectos que llevamos.</p>
                <p>Contamos con un equipo formado por profesionales altamente capacitados y comprometidos conla calidad.</p>
            </div>
            <div class="about-us-img">
                <article>
                    <img src="/Img/logo.png" alt="">
                    <a href="About_us.html"> Leer más</a>
                </article>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="services">
            <h1> Servicios </h1>
            <div class="services-gallery">
                <div class="image-gallery">
                    <article>
                        <img src="/Img/Automatizacion.jpg" alt=""> 
                        <div class="hover">
                            <h2>Automatizacion industrial</h2>
                            <ul>
                                <li> Diseño e implementación de sistemas de control automatizados.</li>
                                <li> Integración de maquinaria y equipos con sistemas de control centralizados.
                                <li> Programación y configuración de PLC y HMI.</li>
                                <li> Desarrollo de soluciones de monitoreo y supervisión en tiempo real.</li>
                                <li> Instalación de sensores y sistemas de adquisición de datos.</li>
                                <li> Optimización de procesos mediante la implementación de técnicas de
                                control avanzado.</li>
                                <li> Mantenimiento de sistemas de control automatizados.</li>
                            </ul>
                            <a href="Services.html"> ver todos </a>
                        </div>
                    </article>
                    <h3>Automatizacion industrial</h3>
                </div>
                <div class="image-gallery">
                    <article>
                        <img src="/Img/Metalmecanica.jpg" alt=""> 
                        <div class="hover">
                            <h2>Metalmecanica</h2>
                            <ul>
                                <li> Diseño y fabricación de estructuras metálicas.</li>
                                <li> Fabricación de equipos y maquinaria especializada.</li>
                                <li> Instalación de sistemas de tuberías y conductos metálicos.
                                <li> Mantenimiento y reparación de maquinaria industrial y equipos
                                    metalúrgicos.</li>
                                <li> Soldadura y ensamblaje de estructuras y piezas metálicas.</li>
                                <li> Servicios de corte, plegado y conformado de láminas metálicas.</li>
                                <li> Mantenimiento de estructuras metálicas y maquinaria industrial.</li>
                            </ul>
                            <a href="Services.html"> ver todos </a>
                        </div>
                    </article>
                    <h3>Metalmecanica</h3>
                </div>
                <div class="image-gallery">
                    <article>
                        <img src="/Img/Obras-civiles.jpg" alt=""> 
                        <div class="hover">
                            <h2>Obras Civiles</h2>
                            <ul>
                                <li> Construcción y remodelación de edificaciones residenciales.</li>
                            </ul>
                            <a href="Services.html"> ver todos </a>
                        </div>
                    </article>
                    <h3>Obras civiles</h3>
                </div>
            </div>    
        </div>
    </section>
    <section id="map">
        <div class="map">
            <div class="text">
                <h2>Ubicación</h2>
                <h3>Bogota D.C.</h3>
            </div>
            <div class="map-frame">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.630742821737!2d-74.1530686857368!3d4.566394996909799!2m3!1f0!2f39.99999863088663!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a3b0b0b0b0b%3A0x9e9b6b0b0b0b0b0b!2sCl.%2044%20Sur%20%2372b-70%2C%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1598456904249!5m2!1ses!2sco" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="mapa"></iframe>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="contact">
            <h2> Contactanos</h2>
            <div class="contact-cards">
                <div class="contact-card">
                    <span class="phone ico"></span>
                    <p>+57 322 283 5439</p>
                    <p>+57 317 499 9488</p>
                </div>
                <div class="contact-card">
                    <span class="loc ico"></span>
                    <p> CL 44 SUR NO. 72 B 70 </p>
                    <p> Bogotá D.C. - Colombia </p>
                </div>
                <div class="contact-card">
                    <span class="mail ico"></span>
                    <p> eimautomatic@gmail.com </p>
                </div>
            </div>
        </div>
    </section>
</body>
<footer>
    <div class="footer">
        <div class="footer-logo">
            <img src="/Img/logo.png" alt="">
        </div>
        <div class="footer-links">
            <h3> Interes </h3>

            <ul class="footer-list">
                <li> <a href="#"> Inicio </a></li>
                <li> <a href="/Templates/About_us.html"> Nosotros </a></li>
                <li> <a href="/Templates/Services.html"> Servicios </a></li>
                <li> <a href="/Templates/Contact.html"> Contacto </a></li>
            </ul>
        </div>
        <div class="footer-contact">
            <h3> Contacto </h3>

            <ul class="contact-list">
                <li> <p>+57 322 283 5439</p></li>
                <li> <p>+57 317 499 9488</p></li>
                <li> <p>eimautomatic@gmail.com</p></li>
                <li> <p>CL 44 SUR NO. 72 B 70 </p>
                     <p>Bogotá D.C. - Colombia</p></li>
            </ul>
        </div>
    </div>
    <h3 class="final">&copy EIM Automatic</h3>
</footer>
</html>
